doctype html
html(lang="en")
    head
        title movies
        include ../includes/header.jade

    body
        .container
            h1 Login
            form(name="login", method="post", action=url.login)
                div.form-group
                    span.col-sm-2.control-label username
                    input(type="text", name="username", autofocus)
                div.form-group
                    span.col-sm-2.control-label password
                    input(type="password", name="password")
                div.form-group
                    div.col-sm-offset-2.col-sm-10
                        input(type="submit", value="login").btn.btn-default