doctype html
html(lang="en")
    head
        title movies
        include ../includes/header.jade

    body
        .container

            if !isAuthenticated
                include ../includes/notLoggedIn
            else
                h1 Movies
                form(name="add-movie", method="post", action=url.addMovie)
                    div.form-group
                        span.col-sm-2.control-label Title
                        input(type="text", name="title" autofocus)
                    div.form-group
                        span.col-sm-2.control-label Year
                        input(type="text", name="year")
                    div.form-group
                        span.col-sm-2.control-label Url
                        input(type="text", name="url")
                    div.form-group
                        span.col-sm-2.control-label Director
                        input(type="text", name="director")
                    div.form-group
                        div.col-sm-offset-2.col-sm-10
                            input(type="submit", value="add").btn.btn-default